form {
    max-width: 580px;
    margin: 70px auto;
    padding: 16px;
    border: 3px solid #eaeaea;
     
  }
  
  input:disabled[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }













